<!DOCTYPE html>
    <html lang="ko">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>sku_library_tree</title>
</head>
 <body>
    <div class="vid-container">
        <video id="Video1" class="bgvid back" autoplay="false" muted="muted" preload="auto" loop>
            <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
        </video>
        <div class="inner-container">
          <video id="Video2" class="bgvid inner" autoplay="false" muted="muted" preload="auto" loop>
            <source src="http://shortcodelic1.manuelmasiacsasi.netdna-cdn.com/themes/geode/wp-content/uploads/2014/04/milky-way-river-1280hd.mp4.mp4" type="video/mp4">
          </video>
          <div class="box">
            <h1>Login</h1>
            <input id = "id" type="text" placeholder="아이디"/>
            <input id = "name" type="text" placeholder="이름"/>
            <input id = "psword" type="password" placeholder="비밀번호"/>
            <input id = "confirm-psword" type="password" placeholder="비밀번호 확인"/>
            <input id = "phonenumber" type="phone" placeholder="전화번호"/>
            <input id = "email" type="email" placeholder="이메일"/>
            <input id = "gender" type="gender" placeholder="성별"/>
            <input id = "area" type="area" placeholder="지역"/>
            <button>Login</button>
            <p class="message">Already registered? <a href="/login">login</a></p>
          </div>
        </div>
      </div>
</body>
</html>

<!--Copyright (c) 2023 by Benjamin (https://codepen.io/maggiben/pen/KwdeaM)-->